<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px" />

# Python Ladder Challenge - Notebook 3

_Author:_ Tim Book

# Climb the Ladder!
Our class moves quickly! Sometimes, it feels like we make leaps in logic that are a bit too big. Learn Python _slowly_, by doing many, many examples. Problems in this notebook start out easy and progressively get harder, so that the next rung of the Python ladder is always within reach.

# Section VII: Functions
In this section, every question gives example(s). You can (but don't need to) name your function accordingly. You _should_ test out the example to make sure your function works properly. If the example doesn't work, your answer is likely incorrect.

In [1]:
from math import pi

72) Write a function to compute the area of a triangle. You only need the base and height of a triangle to compute its area.

* _Example:_ `area_triangle(5, 4) == 10.0`

In [2]:
def area_triangle(base, height):
    area = 0.5 * base * height
    return area

In [3]:
area_triangle(5, 4)

10.0

73) Import `pi` from `math` and write a function to compute the area of a circle. You only need the radius of a circle to compute its area.

* _Example:_ `area_circle(10) == 314.159...`

In [4]:
def area_circle(radius):
    area = pi * radius**2
    return area

In [5]:
area_circle(10)

314.1592653589793

74) Write a function that takes in a number `max_num` and returns the sum of the numbers 1 through `max_num` (inclusive).
* _Example:_ `sum_n(5) == 1 + 2 + 3 + 4 + 5 == 15`

In [6]:
def sum_n(max_num):
    sum = 0
    for i in range (0, max_num + 1):
        sum += i
    return sum

In [7]:
sum_n(5)

15

75) Write a function that takes in a number `max_num` and returns the sum of the square of the numbers 1 through `max_num` (inclusive).
* `sum_squares(5) == 1 + 4 + 9 + 16 + 25 == 55`

In [8]:
def sum_squares(max_num):
    sum = 0
    for i in range(0, max_num + 1):
        sum += i**2
    return sum

In [9]:
sum_squares(5)

55

76) Write a function that takes a number (an amount in euros) and convert it to U.S. dollars. There are 1.1 U.S. dollars per euro.
* `to_dollar(10) == 11.0`

In [10]:
def to_dollar(euros):
    dollars = euros * 1.1
    return dollars

In [11]:
to_dollar(10)

11.0

76) Write a function that takes a list of numbers (amounts in euros), and returns them converted to dollars. Use your answer to the previous question in your answer to this question.
* _Example:_ `to_dollar_list([1, 10, 100]) == [1.1, 11.0, 110.0]`
* _Note:_ You may get some decimal weirdness here.

In [12]:
def to_dollar_list(euro_list):
    dollar_list = [(euro * 1.1) for euro in euro_list]
    return dollar_list

In [13]:
to_dollar_list([1, 10, 100])

[1.1, 11.0, 110.00000000000001]

77) Write a function that takes a number (a person's height) and returns "Tall enough" if they are at least 5 feet (60 inches) or "Too short" if they are below 5 feet.
* _Example:_ `is_tall(72) == 'Tall enough'`
* _Example:_ `is_tall(52) == 'Too short'`

In [29]:
def is_tall(height):
    threshold = 60
    if height >= 60:
        print('Tall enough')
    else:
        print('Too short')

In [31]:
is_tall(52)

Too short

78) Write a function that takes a list of numbers (peoples' heights) and returns a list of strings "Tall enough" or "Too short" as in the previous problem. Use your answer to the previous problem to help answer this problem.
* _Example:_ `is_tall_list([58, 70, 60]) == ['Too short', 'Tall enough', 'Tall enough']`

In [14]:
def is_tall_list(height_list):
    threshold = 60
    result_list = ['Tall enough' if height >= threshold else 'Too short'for height in height_list]
    return result_list

In [15]:
is_tall_list([58, 70, 60])

['Too short', 'Tall enough', 'Tall enough']

79) Write a function that takes in a numeric grade (0 to 100) and returns the letter grade (no pluses or minuses). In a traditional rubric, that would be as follows:

* 90 or above = A
* 80 - 89 = B
* 70 - 79 = C
* 60 - 69 = D
* 59 or below = F
    
    
* _Example:_ `letter_grade(85) == 'B'`

In [16]:
def letter_grade(grade):
    A = 90
    B = 80
    C = 70
    D = 60
    if grade >= A:
        x = 'A'
    elif B <= grade < A:
        x = 'B'
    elif C <= grade < B:
        x = 'C' 
    elif D <= grade < C:
        x = 'D'
    else:
        x = 'F'
    return x

In [17]:
letter_grade(62)

'D'

80) Write _another_ function that takes a list of numeric grades and returns their letter grades. Use the function written above in your answer.

* _Example:_ `letter_grades([85, 62, 90]) == ['B', 'D', 'A']`

In [18]:
def letter_grades(grade_list):
    list = []
    for grade in grade_list:
        value = letter_grade(grade)
        list.append(value)
    return list

In [19]:
letter_grades([85, 62, 90])

['B', 'D', 'A']

81) Write a function that takes in a string and returns the number of vowels in that string. (No, y is not a vowel).
* _Example:_ `vowel_count('General Assembly') == 5`

In [20]:
def vowel_count(string):
    vowels = ['a', 'e', 'i', 'o', 'u']
    sum = 0
    for str in string.lower():
        if str in vowels:
            sum += 1
    return sum

In [21]:
vowel_count('General Assembly')

5

82) Write a function that takes in a string and returns that string with its consonants capitalized and vowels lowercased.

* _Example:_ `toggle_case('General Assembly') == 'GeNeRaL aSSeMBLY'`

In [22]:
def toggle_case(string):
    new_string = ""
    vowels = ['a', 'e', 'i', 'o', 'u']
    for str in string.lower():
        if str in vowels:
            new_string += str.lower()
        else:
            new_string += str.upper()
    return new_string

In [23]:
toggle_case('General Assembly')

'GeNeRaL aSSeMBLY'

83) Write a function that takes in a string and returns that string with its vowels removed.
* _Example:_ `disemvowel('Python is my favorite language') == 'Pythn s my fvrt lngg'`

In [76]:
def disemvowel(string):
    new_string = ""
    vowels = ['a', 'e', 'i', 'o', 'u']
    for str in string.lower():
        if str not in vowels and str =='p':
            new_string += str.title()
        elif str not in vowels:
            new_string += str
    return new_string

In [77]:
disemvowel('Python is my favorite language')

'Pythn s my fvrt lngg'

84) Write a function that takes in a string and returns that string with its vowels removed _unless it's a one-letter word_, in which case leave the vowel intact. You should use your answer in the previous problem to answer this.
* _Example:_ `smart_disemvowel('I love Python programming') == 'I lv Pythn prgrmmng'`

In [78]:
def smart_disemvowel(string):
    full_string = ""
    for str in string.split():
        if len(str) > 1:
            full_string += disemvowel(str)
            full_string += " "
        else:
            full_string += str
            full_string += " "
    return full_string

In [79]:
smart_disemvowel('I love Python programming')

'I lv Pythn Prgrmmng '

85) Write a function that takes in a string (likely multiple words long) and returns that string with the order of the words reversed.
* _Example:_ `word_reverser('Data science is cool') == 'cool is science Data'`

In [80]:
def word_reverser(string):
    new_string = ""
    for str in string.split()[::-1]:
        print(str)
        new_string += str
        new_string += " "
    return new_string

In [81]:
word_reverser('Data science is cool')

cool
is
science
Data

'cool is science Data '

86) Write a function that takes in a string (likely multiple words long) and returns that string with each word reversed, but with the words in the same order.
* _Example:_ `letter_reverser('Data science is cool') == 'ataD ecneics si looc'`

In [82]:
def letter_reverser(string):
    new_string = ""
    for str in string.split():
        for letter in str[::-1]:
            new_string += letter
        new_string += " "
    return new_string

In [83]:
letter_reverser('Data science is cool')

'ataD ecneics si looc '

87) Write a function that converts a string to "leet speak". Leet speak is a made-up internet language which you replace characters with symbols that look like those characters. For example:

* _Example:_ `to_leet_speak('i am elite') == '! @M 31!73'`
* _Hint:_ Recall what `.get()` does when called on a dictionary? Will this help you with spaces or other non-letter characters?

_Note:_ This problem is borrowed from [this](https://www.codewars.com/kata/toleetspeak) wonderful Codewars challenge!

Below is the English-to-leet dictionary:

In [84]:
LEET_DICT = {'A' : '@', 'B' : '8', 'C' : '(', 'D' : 'D', 'E' : '3',
             'F' : 'F', 'G' : '6', 'H' : '#', 'I' : '!', 'J' : 'J',
             'K' : 'K', 'L' : '1', 'M' : 'M', 'N' : 'N', 'O' : '0',
             'P' : 'P', 'Q' : 'Q', 'R' : 'R', 'S' : '$', 'T' : '7',
             'U' : 'U', 'V' : 'V', 'W' : 'W', 'X' : 'X', 'Y' : 'Y',
             'Z' : '2'}

In [39]:
def to_leet_speak(string):
    new_string = ""
    for letter in string:
        new_string += LEET_DICT.get(letter.upper(), " ")
    return new_string

In [85]:
to_leet_speak('i am elite')

'! @M 31!73'

87) Write an `is_prime` function that takes in a number and returns a boolean of whether or not that number was prime. (_Hint:_ You already did this in a previous section.)

* _Example:_ `is_prime(5) == True`
* _Example:_ `is_prime(6) == False`

In [112]:
def is_prime(number):
    if number != 1:
        for i in range(2, (number//2+1)):
            if number % i == 0:
                return False
        else:
            return True
    else:
        print(f'{number} is not prime')

In [114]:
is_prime(5)

True

88) Write a function that takes in a number and returns the sum of all primes less than or equal to that number. You'll need your answer to the previous problem to answer this.
* _Example:_ `sum_primes(11) == 2 + 3 + 5 + 7 + 11 == 28`
* _Bonus:_ Can you do this in one line with a list comprehension?

In [141]:
def sum_primes(number):
    summation = 0
    list = []
    if number != 1:
        for i in range(2, number+1):
            if is_prime(i):
                list.append(i)
                summation += i
        return f'Sum:{summation}, List of primes:{list}'
    else:
         print(f'{number} is not prime')

In [142]:
sum_primes(10)

'Sum:17, List of primes:[2, 3, 5, 7]'

# Section VIII: What's next?

## Section VIIIa: Virtual Practice

Now that we've got a handle on the basics (and a few problems much more difficult than "basic"), what do we do next? If you'd like some more difficult challenges, sign up for [Codewars](https://www.codewars.com)! Codewars is a website in which you are repeatedly given coding challenges that get progressively more difficult. You earn XP and level up, giving you harder and harder problems. Below is an ever-updating list of coding challenges that we recommend. Some of them are Codewars challenges, some from other resources:

* [Run-length Encoding](https://www.codewars.com/kata/run-length-encoding-1) (Codewars)
* [Permutations](https://leetcode.com/problems/permutations/) (Leetcode)
* ["1-Dimensional Candy Crush"](https://leetcode.com/discuss/interview-question/380650/bloomberg-phone-screen-candy-crush-1d) (Leetcode)

## Section VIIIb: Real Interview Challenges
Below are interesting challenges stolen directly from real interviews! These challenges have been reported from both GA students and GA instructors. If you find a good one in your future interviews, please come back and tell us! This section of the ladder is ever-updating.

### File Permissions
In UNIX-like systems (eg, Mac and Linux), the permissions on certain files are given by short 9-character codes. These characters represent the read (**r**), write (**w**), and execute (**x**) permissions of the owner, assigned group, and all users, respectively. For example, the code

`rwx------`

means the file owner has all 3 kinds of permissions, but no one else can do anything. Another common code is 

`rwxr-xr-x`

which means that everyone can read and execute the file, but only the owner has permission to write to it (that is, to change it). You can see these permissions yourself by typing `ls -l` from your command line!

In order to further save space, these codes are often saved as a 3-digit number, where each digit corresponds to the sum of the values of `r`, `w`, and `x`. `r` is worth 4, `w` is worth 2, `x` is worth 1, and `-` is worth 0. For example, `rwx------` is shortened to the code `700`, and `rwxr-xr-x` is `755`.

Your challenge is to write a function that shortens the "permission string" to its corresponding "permission code" (properly known as its "octal notation"). Please note that the output of your function should be an integer, not a string! You can assume the "permission string" is always valid.

* _Example:_ `permissions_to_octa("rwxr-xr-x") = 755`

In [72]:
#shall try at a later date

def permissions_to_octal(p):
    """Returns the 3-digit octal code given permissions string `p`, e.g. 'rwxr-xr-x' is 755."""
    pass

### Grocery Bags
A large grocery bag can hold 5 items, while a small grocery bag can hold only 1. The numbers of each size bag available may be limited. All items must be placed in a bag and each bag must be filled completely. For example, if we have 16 items, 2 large bags, and 10 small bags, 8 total bags are needed. 2 large bags + 6 small bags = 16 items in 8 bags.

Write a function to calculate the **minimum** number of bags needed. If it's not possible to meet these conditions, return `-1`.

* `min_bags(16, 2, 10) = 8`
* `min_bags(20, 2, 2) = -1`

In [ ]:
#shall try at a later date
def min_bags(num_items, avail_large, avail_small):
    """
    Return the least number of bags needed to hold `num_items` items, given there are only:
        + `avail_large` 5-item bags, and 
        + `avail_small` 1-item bags.
    """
    pass